<!-- src/app/layouts/main-layout.component.html -->
<mat-toolbar color="primary">
    <img src="assets/logo-placeholder.png" alt="Logo" style="height: 40px; margin-right: 1rem;">
    <span>Orange Business</span>
  
    <span style="flex: 1 1 auto;"></span> <!-- Ceci est un espaceur -->
  
    <a mat-button routerLink="/home">Accueil</a>
    <a mat-button routerLink="/products">Nos Produits</a>
    <a mat-button routerLink="/contact">Contactez-nous</a>
  </mat-toolbar>
  
  <main class="content">
    <!-- Les pages clientes (liste des produits, etc.) s'afficheront ici -->
    <router-outlet></router-outlet>
  </main>