.product-page-container {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-field {
  width: 100%;
  max-width: 500px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.product-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.product-image {
  height: 200px;
  object-fit: cover;
}

.product-description {
  min-height: 60px; /* Assure une hauteur minimale pour l'alignement */
}

.product-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--mat-primary-800); /* Utilise la couleur du thème ! */
  text-align: right;
  margin-top: 1rem;
}

.no-products-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: #888;
}

.no-products-found mat-icon {
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
}

.paginator {
  margin-top: 2rem;
  background: transparent;
}