/* styles.scss - Les styles globaux de votre application */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Vous pourrez ajouter vos styles personnalisés ici plus tard */
/* Exemple : */
/*
.ma-classe-speciale {
  background-color: orange;
}
*/